.form {
    font-size: 13px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    /* margin-top: 30px; */
    background-color: white;
}

input {
    margin: 20px;
    padding: 5px 10 px;
    font-size: 20px;
    height: 50px;
}
#addTask{
    width: 30%;

    padding-left: 20px;
}
.form button {
    padding: 3px 10px;
}