
body{
  background-image: linear-gradient(to right, #1b1b1b, #2e2e2e);
}
.App {
  text-align: center;
  background-image: linear-gradient(to right, #1b1b1b, #2e2e2e);

}
#logo {
  display: block;
  font-size: 40px;
  width: 300px;
  height: 60px;
  margin: 0 auto;
  padding-top: 50px;
  color: white;
  line-height: 20px;

    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
    

}
#logo span{
  font-size: 16px;
  color: #176a4d
}

#top{
  display: block;
  height: 150px;
  background-image: linear-gradient(to right, #4adaa2, #a9eca9);
  width: 100%;

}

@keyframes example {
  from {
    opacity: 0;
    
  }
  to {
    opacity: 100;
  }
}
