.wrapTask{
    height: 50px;
    width: 45%;
    margin:0 auto;
    margin-top: 5px;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
    display: flex;
}

.wrapTaskDone{
    height: 50px;
    width: 45%;
    margin:0 auto;
    margin-top: 5px;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
    display: flex;
}



.task{
    height: 75%;
    width: 75%;
    background-color: white;
    color: #1f1f1f;
    text-align: left;
    padding-left: 20px;
    float: left;
    padding-top: 12px;
}

.taskDone{
    display: block;
    float: left;
    width: 74%;
    background-color: rgb(119, 119, 119);;
   color: #1f1f1f;
    height: 48px;
    text-align: left;
    padding-left: 20px;
    padding-top: 2px;
}

.task span{
    float: right;
    margin-right: 18px;
    color: #727272;
    font-size: 14px;
}

.doneBtn {
    margin-left: 5px;
    /* background-color: #4bdaa2; */
    background-image: linear-gradient(to right, #4adaa2, #4adaa2);
    width: 75px;
    height: 100%;
    border:none;
    color: #1f1f1f;
}

.doneBtn:hover{
    background-image: linear-gradient(to right, #77e3a5, #a9eca9);
}

.doneBtn:active {
    outline: none;
    border: none;
}


.deleteBtn {
    background-color: #4b4b4b;
    color:#949494;
    margin-left: 5px;
    width: 75px;
    height: 100%;
    border:none;
}

.deleteBtn:hover {
    color: white;
    outline: none;
    border: none;
    background-color:  #c4001d;
}


@keyframes example {
    from {
       opacity: 0;
      
    }
    to {
        opacity: 100;
  }
}
